<%= form_with model: @post, class: "form" do |f| %>
<p>
  <%= f.text_field :title, placeholder: "enter title", class: "form_title" %>
  <% if @post.errors.messages[:title].any? # エラーメッセージが存在するかどうか %>
  <span class="error"><%= @post.errors.messages[:title][0] %></span>
  <% end %>
</p>
<p>
  <%= f.text_area :body, placeholder: "enter body text", class: "form_body" %>
  <% if @post.errors.messages[:body].any? # エラーメッセージが存在するかどうか %>
  <span class="error"><%= @post.errors.messages[:body][0] %></span>
  <% end %>
</p>
<p>
  <%= f.submit class: "form_submit" %>
</p>
<% end %>
